.header-container {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 85em;
    height: 50px;
    border-bottom: 5px solid #21209c;
    line-height: 50px;
    overflow: hidden;
}

.header-container span {
    color: #fff;
    font-size: 30px;
    background-color: #21209c;
    display: inline-block;
    padding: 2px 20px;
    text-transform: capitalize;
}

.header-container span::before {
    position: absolute;
    content: '';
    width: 60%;
    left: -300px;
    height: 100%;
    background-color: #21209c;
    z-index: -1;
    transform: rotate(45deg);
}