* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}
@page { 
    margin: .5em; 
}

.logo-header {
    max-width: 20.5em;
    position: absolute;
    left: 26em;
}

.text-header-or {
    font-size: 10.5px;
    position: absolute;
    left: 52.5em;
    top: 3.9em;
}

.text-header-collection {
    font-size: 10.5px;
    position: absolute;
    left: 53em;
    top: 3.9em;
}

.text-header-period {
    font-size: 10.5px;
    position: absolute;
    left: 48.5em;
    top: 5.5em;
}

.grand-total-table {
    font-size: 12.5px;
    width: 100%; 
    position: absolute;
    top: 7em;
}

.grand-total-table tr td {
    padding-left: 1.8em;
}

.text-total {
    margin-left: .5em;
    border-bottom: 1px solid;
    padding-left: .6em;
    padding-right: .6em;
}

/* main table data for official receipt */
    .main-table-official-receipt {
        font-size: 10.5px;
        border-collapse: collapse;
        width: 100%;
        position: absolute;
        top: 10.6em;
    }

    .main-table-official-receipt td, .main-table-official-receipt th {
        border: 1px solid;
        padding: .4em;
    }

    .main-table-official-receipt tr:nth-child(even){background-color: white;}

    .main-table-official-receipt tr:hover {background-color: white;}

    .main-table-official-receipt th {
        font-size: 11.5px;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: left;
        /*background-color: #37986c;*/
        color: black;
    }

/* main table data for summary of collection*/
    .main-table-collection {
        font-size: 10.5px;
        border-collapse: collapse;
        width: 100%;
        /* position: absolute;
        top: 24em; */
    }

    .main-table-collection td, .main-table-collection th {
        border: 1px solid;
        padding: .4em;
    }

    .main-table-collection tr:nth-child(even){background-color:white;}

    .main-table-collection tr:hover {background-color:white;}

    .main-table-collection th {
        font-size: 11.5px;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: left;
        /*background-color: #37986c;*/
        color: black;
    }

/* main table for account */
    .main-table-accounts {
        font-size: 10.5px;
        border-collapse: collapse;
        width: 60%;
        /* position: absolute; */
        /* top: 10.6em; */
        padding-top: 9.5em;
    }

    .main-table-accounts td, .main-table-accounts th {
        border: 1px solid;
        padding: .4em;
    }

    .main-table-accounts tr:nth-child(even){background-color:white;}

    .main-table-accounts tr:hover {background-color: white;}

    .main-table-accounts th {
        font-size: 11.5px;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: left;
        /*background-color: #37986c;*/
        color: black;
    }

/* fotter table */
    .footer-table {
        font-size: 10.5px;
        width: 100%;
        position: absolute;
        top: 94%;
    }

.page-break {
    page-break-after: always;
}

footer {
    position: absolute; 
    bottom: 1.5em; 
    left: 0; 
    right: 0;
    height: 1.5em;
    text-align: center;
    line-height: 1em;
    font-size: 13px;
    font-style: oblique;
    color: #777777;
}