@page { 
    margin: .5em; 
}

body { 
    margin: .5em; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
    width: 100%;
    text-align: center;
}

.logo-header {
    max-width: 20.5em;
    display: block;
}

footer {
    position: absolute; 
    bottom: 1.5em; 
    left: 0; 
    right: 0;
    height: 1.5em;
    text-align: center;
    line-height: 1em;
    font-size: 13px;
    font-style: oblique;
    color: #777777;
}
