
.glyphicon-sidebar{
    color:#42464F;
}
.glyphicon-content{
    color:#fff;
}
h2{
    color:#ffffff;
}
.panel-warning>.panel-heading{
    /*background-color: #08774e;*/
    background: linear-gradient(180deg,#42444E 0%,#40BB8A 100%);
}