#header{
  background-color:#008cba;
}
.navbar {
  color: #FFFFFF;
  background-color: #1b4621;
  border-color: transparent;
/*  border-style: solid;
  border-width:0 0 35px 0;*/
}
.navbar-brand 
{
  padding: 0px 50px 0px 50px;
}
h1{
  text-align: center;
}
.logo{
  width:120px;
  /*height:70px;*/
  /*background-color:#FFFFFF;*/
}
.logo_function{
  width:120px;
  height:150px;
}
#rowcenter{
  text-align: center;
  background-color:#FFFFFF;
}
#learnmore_row{
  text-align: justify;
  background-color:#FFFFFF;
}#learnmore_row_2{
  text-align: justify;
  background-color: #C25B56;
}
#learnmore_row h1{
  text-align: justify;
}
h2 p{
  color: #ffffff;
}
footer{
  color: #FFFFFF;
  background-color:#1b4621;
  text-align: left;
}
.carousel-inner > .item > img{
  width:1900px;
  height:481px;
}
.img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h5 img{
  text-align: justify;
}
#wrapper nav{
  margin-bottom: 0; 
  background-color:#1b4621;
  margin-bottom: 0; /*
  background-color:#098FF6;*/
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color:#008cba;
  border-color:#008cba;
  color: white;
}
.col-xs-9{
  color:#fff;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}

.imglearnmore{
      width: 70px;
      height: 70px;
    }

.sidebartext{
      color: #42464F;
    }
