 .div-table{
  /*display:table;         */
  width:auto;
  height:475px;
  overflow: scroll;
  background-color:#eee;
  margin-bottom: 50px;    
  /*border:1px solid  #666666;*/     
  /*border-spacing:5px;*//*cellspacing:poor IE support for  this*/
}
.div-table-row{
  /*display:table-row;*/
  width:10000px;
  /*width:3410px;*/ 
  /*width:1760px;*/
  /*width:auto;*/
  clear:both;


}
.div-table-col-time{
  /*fix for  buggy browsers*/
  float:left;
  display:table-column;         
  width:55px;
  color:#fff;
  height:35px;
  font-size: 11px;     
  background-color:#428BCA; 
  border:1px solid #DDDDDD;
  padding-top: 3px;
  /*display: inline-block;*/
}

.div-table-col-blank{
  /*fix for  buggy browsers*/
  float:left;
  display:table-column;         
  width:55px;
  height:35px;
  font-size: 11px;     
  background-color:#D7DDE2; 
  border:1px solid #fff;
  padding-top: 10px;
  /*display: inline-block;*/
}

.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:55px;
  height:35px;     
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;  
  color:#fff;  
  padding-top: 7px;  
}

.div-table-col-sec{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width: 110px;
  height: 35px;     
  background-color: #646464; 
  border:1px solid #DDDDDD;  
  padding-top: 7px;
  color:#fff;  
}

.div-table-colspan2{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:110px;
  height:35px;   
  background-color:#6AA4C1;  
  border:1px solid #DDDDDD;
  color:#fff;  
  padding-top: 7px;  

}

.div-table-colspan3{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:165px;
  height:35px;    
  background-color:#6AA4C1;  
  border:1px solid #DDDDDD;
  color:#fff; 
  padding-top: 7px;   
}

.div-table-colspan4{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:220px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan5{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:275px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan6{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:330px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan7{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:385px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan8{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:440px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan9{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:495px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan10{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:550px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan11{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:605px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan12{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:660px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan13{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:715px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan14{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:770px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan15{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:825px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan16{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:880px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan17{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:935px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan18{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:990px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan19{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1045px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan20{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1100px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan21{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1155px;
  height:35px;   
  background-color:#6AA4C1;  
  border:1px solid #DDDDDD;
  color:#fff;  
  padding-top: 7px;  

}

.div-table-colspan22{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1210px;
  height:35px;    
  background-color:#6AA4C1;  
  border:1px solid #DDDDDD;
  color:#fff; 
  padding-top: 7px;   
}

.div-table-colspan23{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1265px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan24{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1320px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan25{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1375px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan26{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1430px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan27{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1485px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan28{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1540px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan29{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1595px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan30{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1650px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan31{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1705px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan32{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1760px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan33{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1815px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan34{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1870px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan35{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1925px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan36{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:1980px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan37{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:2035px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan38{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:2090px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan39{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:2145px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}

.div-table-colspan40{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:2200px;
  height:35px;    
  background-color:#6AA4C1; 
  border:1px solid #DDDDDD;
  color:#fff;
  padding-top: 7px;     
}